Source: sirc
Section: gnome
Priority: optional
Maintainer: Botescu Costin <costin.botescu@gmail.com>
Build-Depends: libssl-dev, libgtk-3-dev, debhelper-compat (= 12), dh-autoreconf
Standards-Version: 4.5.0
Homepage: https://github.com/colin-i/irc-ssl

Package: sirc
Architecture: amd64 arm64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
#, libssl1.1, libgtk-3-0
Description: IRC client with ssl
